@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import './fonts.css';
@import './tailwind.css';
@import './theme.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button:not(:disabled) {
    @apply transition-all duration-200;
  }
  button:not(:disabled):hover {
    @apply shadow-sm;
    transform: translateY(-1px);
  }
  button:not(:disabled):active {
    @apply duration-100 shadow-none;
    transform: scale(0.98);
  }
}
